__pycache__/

# Pycharm
.idea

data/
data_label/
all_log/*
Grounded-SAM-2/
habitat-sim/
/scripts/SimSun.ttf
ObjNavGPT/
data_mp3d_hdt/
data_mp3d_r2r_v1/
evaluate_vis/
*.tar.gz
*.zip
*/wandb/*
data_mp3d_r2r_v1/
data_mp3d_rxr/
test_mp3d_r2r_v1/
scripts/run_utils/api_keys.py
InternVL
InternVL_cleaned/InternVL3-2B
InternVL_cleaned/InternVL3-8B
InternVL_cleaned/internvl_chat/runs
/drawings/output_video/
browse.vc*
c_cpp*
.vscode/settings.json
training_data/
training_data_/
container
/training_data
/container
muyi_data/
.codex
.vscodepsc-br0
