absl-py==2.3.0
accelerate==0.34.2
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.13.4
bitsandbytes==0.42.0
black==25.1.0
blinker==1.9.0
braceexpand==0.1.7
cachetools==5.5.2
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.3
configargparse==1.7.1
contourpy==1.3.2
crcmod==1.7
cryptography==45.0.5
cycler==0.12.1
dash==3.2.0
datasets==4.0.0
dds-cloudapi-sdk==0.5.3
decorator==5.2.1
decord==0.6.0
deepspeed==0.17.2
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
dtw-python==1.2.2
einops==0.6.1
einops-exts==0.0.4
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.116.1
fastdtw==0.3.4
faster-fifo==1.5.2
fastjsonschema==2.21.2
ffmpy==0.6.0
filelock==3.14.0
# flash-attn==2.7.4
flask==3.1.2
fonttools==4.58.4
frozenlist==1.7.0
fsspec==2025.3.0
ftfy==6.3.1
future==1.0.0
fvcore==0.1.5.post20221221
gdown==5.2.0
gitdb==4.0.12
gitpython==3.1.44
google-auth==2.40.3
google-auth-oauthlib==0.4.6
gradio==3.35.2
gradio-client==0.2.9
grpcio==1.73.1
gym==0.23.0
gym-notices==0.0.8
h11==0.14.0
hf-xet==1.1.5
hjson==3.1.0
httpcore==0.17.3
httpx==0.24.0
huggingface-hub==0.33.4
hydra-core==1.3.2
idna==3.10
ifcfg==0.24
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib-metadata==8.7.0
inflect==7.5.0
iopath==0.1.10
ipython==8.37.0
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.6
jiter==0.10.0
jmespath==0.10.0
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter-core==5.8.1
jupyterlab-widgets==3.0.15
kiwisolver==1.4.8
latex2mathml==3.78.0
lazy-loader==0.4
# liger-kernel==0.4.2
linkify-it-py==2.0.3
llvmlite==0.44.0
lmdb==1.6.2
magnum==0.0.0
markdown==3.8.2
markdown-it-py==2.2.0
markdown2==2.5.3
markupsafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.3
mdurl==0.1.2
mmcls==0.25.0
mmcv==2.2.0
mmengine==0.10.7
mmsegmentation==0.30.0
model-index==0.1.11
more-itertools==10.7.0
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.3
multiprocess==0.70.16
mypy-extensions==1.1.0
narwhals==1.47.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
nltk==3.9.1
numba==0.61.2
numpy==1.26.4
numpy-quaternion==2024.0.9
oauthlib==3.3.1
objectio==0.2.29
omegaconf==2.3.0
open3d==0.19.0
openai==0.28.0
opencv-python==4.11.0.86
opendatalab==0.0.10
openmim==0.3.9
# openxlab==0.1.2
ordered-set==4.1.0
orjson==3.11.0
oss2==2.17.0
packaging==24.2
pandas==2.3.1
parso==0.8.5
pathspec==0.12.1
peft==0.10.0
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.8
plotly==6.3.0
portalocker==3.2.0
prettytable==3.16.0
proglog==0.1.12
prompt-toolkit==3.0.51
propcache==0.3.2
protobuf==3.20.1
pslpython==2.3.3
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycocoevalcap==1.2
pycocotools==2.0.10
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic-core==2.33.2
pydeck==0.9.1
pydub==0.25.1
pygments==2.19.2
pyparsing==3.2.3
pyquaternion==0.9.9
pysocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
pytz==2023.4
pyyaml==6.0.2
referencing==0.36.2
regex==2024.11.6
requests
requests-oauthlib==2.0.0
retrying==1.4.2
rich==13.4.2
rpds-py==0.26.0
rsa==4.9.1
safetensors==0.5.3
# sam-2==1.0
scikit-fmm==2025.6.23
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==2.34.1
setuptools==60.2.0
shellingham==1.5.4
shortuuid==1.0.13
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
stack-data==0.6.3
starlette==0.47.1
streamlit==1.47.0
streamlit-image-select==0.6.0
supervision==0.25.1
svgwrite==1.4.3
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardx==2.6.4
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2025.5.10
timm==0.9.12
tokenizers==0.15.1
toml==0.10.2
tomli==2.2.1
# torch==2.5.1
# torchvision==0.20.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.37.2
triton==3.1.0
typeguard==4.4.4
typer==0.16.0
typing-extensions==4.14.0
typing-inspection==0.4.1
tzdata==2025.2
uc-micro-py==1.0.3
urllib3==1.26.20
uvicorn==0.35.0
wandb==0.21.0
watchdog==6.0.0
wavedrom==2.0.3.post3
wcwidth==0.2.13
webdataset==0.1.40
websockets==15.0.1
werkzeug==3.1.3
widgetsnbextension==4.0.14
xxhash==3.5.0
yacs==0.1.8
yapf==0.40.1
yarl==1.20.1
zipp==3.23.0
scikit-image
dtw
fastdtw
orjson